/* temples-large.css - Desktop View */

@media screen and (min-width: 768px) {
    nav {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #menu-button {
        display: none;
    }
    
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}